<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="font-size: 15px;">
    <div class="container-fluid">
        <div class="navigation-info alert alert-warning visible-md visible-lg row">
            <b>Tip:</b> na navigáciu medzi reštauráciami môžete použiť šípky <i>HORE</i>
            a <i>DOLE</i>, <i>ENTER</i> alebo druhé kliknutie na reštauráciu otvorí web vybranej reštaurácie.
        </div>
        <div class="row well" style="margin-bottom: 0px;">
            <div class="col-xs-6">
                <a href="http://en.wikipedia.org/wiki/Copyleft" target="_blank" title="copyleft"
                    style="display: inline-block; -webkit-transform: scaleX(-1); transform: scaleX(-1);">©</a>
                ALL WRONGS RESERVED
            </div>
            <div class="col-xs-1 col-xs-offset-5">
                <a style="float: right" href="https://github.com/at11/at11/issues" target="_blank"
                    class="github"><i class="fa fa-github fa-lg"></i> GitHub</a>
            </div>
        </div>
    </div>
</nav>


