<div id="clock">
    <img  src="img/at11_plate_03.png" height="257" width="231" alt="clock">
</div>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="clear-fix">
                    <div id="main-logo">
                        <p>at11</p>
                    </div>

                   
                    <div class="col-xs-3 col-md-4 first-row">
                        <h3 id="date"></h3>
                    </div>

                     <div class="col-xs-4 col-md-3 first-row">
                        <h1>Denné menu</h1>
                    </div>

                    <div class="col-xs-1 visible-xs">
                        
                    </div>
    </div>

        
    <div class="col-xs-4 " >
        <ul class="nav nav-pills pull-right">
                <li class="label">
                                
                     <a id="dLabel" role="button" data-toggle="dropdown" href="#">Prepnúť tému
                        <b class="caret"></b>
                    </a>

                     <ul class="dropdown" role="menu" aria-labelledby="dLabel">
                        {{#each themes}}
                        <li role="presentation" class="dropdown">
                            <a href="/{{@key}}"><span class="btn btn-link">{{this.name}}</span></a>
                        </li>
                        {{/each}}
                    </ul>
                </li>
        </ul>


        <ul class="nav nav-pills pull-right">
            <li class="label">
                                
                <a id="selectRestaurant" role="button" data-toggle="dropdown" href="#" class="second-row-button">Vybrať reštauráciu 
                    <b class="caret"></b>
                </a>
        <ul id="selectrestaurants" class="dropdown" role="menu" aria-labelledby="selectrestaurants">
            <li role="presentation" class="dropdown-checkbox">
                {{> selectrestaurants6}}
            </li>
        </ul>    
    </div>
</nav>
