<div id="clock" height="350px" width="350px" alt="clock" >
    {{> at11clock}}
</div>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="clear-fix">
                    <div id="main-logo">
                        <p>at11</p>
                    </div>
                   
                    <div class="col-xs-3 col-md-4 first-row">
                        <h3 id="date"></h3>
                    </div>

                     <div id="denne-menu" class="col-xs-4 col-md-3 first-row">
                        <h1>Denné menu</h1>
                    </div>

                    <div class="col-xs-1 visible-xs">
                        
                    </div>
    </div>
        
    <div id="selection" class="col-xs-4 " >
        <ul id="temy" class="nav nav-pills pull-right">
                <li class="label">                              
                     <a id="dLabel" role="button" data-toggle="dropdown" href="#">Prepnúť tému
                        <b class="caret"></b>
                    </a>

                     <ul class="dropdown" role="menu" aria-labelledby="dLabel">
                        {{#each themes}}
                        <li role="presentation" class="dropdown">
                            <a href="/{{@key}}"><span class="btn btn-link">{{this.name}}</span></a>
                        </li>
                        {{/each}}
                    </ul>
                </li>
        </ul>

        <ul id="restauracie" class="nav nav-pills pull-right">
            <li class="label">
                                
                <a id="selectRestaurant" role="button" data-toggle="dropdown" href="#" class="second-row-button">Vybrať reštauráciu 
                    <b class="caret"></b>
                </a>
        <ul id="selectrestaurants" class="dropdown" role="menu" aria-labelledby="selectrestaurants">
            <li role="presentation" class="dropdown-checkbox">
                {{> selectrestaurants6}}
            </li>
        </ul>    
    </div>
</nav>
