<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="row">
        <div class="col-xs-1 visible-xs" style="width: 15px;"></div>
        <div class="col-xs-1 hidden-xs"></div>
        <div class="col-xs-4 col-md-3">
            <h1>Denné menu</h1>
        </div>
        <div class="col-xs-3 col-md-4" style="margin-top: 13px;">
            <h3>{{date}}</h3>
        </div>
        <div class="col-xs-1 visible-xs"></div>

        <div class="col-xs-4 " style="margin-top: 12px;">
            <ul class="nav nav-pills pull-right">
                <li class="dropdown">
                    <a id="dLabel" role="button" data-toggle="dropdown" href="#">Prepnúť tému
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        {{#each themes}}
                        <li role="presentation">
                            <a href="/{{@key}}"><span class="btn btn-link">{{this.name}}</span></a>
                        </li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
            <div id="select-restaurants" class="pull-right">{{> selectrestaurants}}</div>
        </div>
    </div>
</nav>
