<ul class="nav nav-pills">
    <li class="dropdown">
        <ul id="selectrestaurants" class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="selectrestaurants" style="right: 0; left: initial;">
            {{#each restaurants}}
            <li role="presentation" class="dropdown-checkbox">
                <a class="checkbox">
                    <input type="checkbox" value="{{this.id}}" checked="checked"/>
                        <span class="btn btn-link">{{this.name}}</span>
                    </a>
            </li>
            {{/each}}
        </ul>
    </li>
</ul>
