<ul class="nav nav-pills">
    <li class="dropdown">
        <a  role="button" data-toggle="dropdown" href="#"><i class="fa fa-cogs fa-lg"></i></a>
        <ul id="selectrestaurants" class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="selectrestaurants" style="right: 0; left: initial;">
            {{#each restaurants}}
            <li role="presentation" class="dropdown-checkbox">
                <a class="checkbox">
                    <input type="checkbox" value="{{this.id}}" {{#if this.show}}checked="checked"{{/if}}/>
                        <span class="btn btn-link">{{this.name}}</span>
                    </a>
            </li>
            {{/each}}
        </ul>
    </li>
</ul>
<script>
    $('.dropdown-menu').on('click', function (e) {
        if ($(this).hasClass('dropdown-menu-form'))
        {
            e.stopPropagation();
            var $target = $(e.target);
            var checkbox;
            if ($target.val() == '')
            {
                checkbox = $target.children('input').length > 0 ? $target.children('input') : $target.siblings('input');
                checkbox.prop('checked', !checkbox.prop('checked'));
            }
            $('[data-restaurant-id="' + ($target.val() || checkbox.val()) + '"]').toggle();
            $('#container').masonry();
            var checked = [];
            $('#selectrestaurants [type="checkbox"]:checked').each(function (index, item) {
                checked.push($(item).val());
            });
            SetCookie('restaurantsFilter', checked.join(','), 10);
        }
    });

    function SetCookie(cookieName, cookieValue, nDays) {
        var today = new Date();
        var expire = new Date();
        if (!nDays) { nDays = 1; }
        expire.setTime(today.getTime() + 3600000 * 24 * nDays);
        document.cookie = cookieName + "=" + escape(cookieValue)
                     + ";expires=" + expire.toGMTString() + ";path=/";
    }

</script>