<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>@11</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <meta name="description" content="Obedové menu pri ERNI SK">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link href="css/style2.css" type="text/css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <script type="text/javascript">
        (function($) {
            $.fn.hasScrollBar = function() {
                return this.get(0).scrollHeight > this.get(0).clientHeight;
            }
        })(jQuery);

        $(function() {
            selectRestaurant(GetCookie("restaurant") || 1);

            if (!$('html').hasScrollBar()) {
                $('#padding').addClass('hidden');
            }

            $(document).keyup(function(e) {
                e.preventDefault();

                if (e.keyCode == 38) { //UP arrow
                    var selectedRestaurant = parseInt(findSelectedRestaurantId());
                    var restaurantCount = $('#navigationBar li').length + 1;

                    unSelectRestaurant(selectedRestaurant);
                    selectedRestaurant = (selectedRestaurant - 1 + restaurantCount) % restaurantCount;
                    if (selectedRestaurant == 0) selectedRestaurant = restaurantCount - 1;
                    selectRestaurant(selectedRestaurant)

                }
                if (e.keyCode == 40) { //DOWN arrow
                    var selectedRestaurant = parseInt(findSelectedRestaurantId());
                    var restaurantCount = $('#navigationBar li').length + 1;

                    unSelectRestaurant(selectedRestaurant);
                    selectedRestaurant = (selectedRestaurant + 1) % restaurantCount;
                    if (selectedRestaurant == 0) selectedRestaurant = 1;
                    selectRestaurant(selectedRestaurant)
                }

                if (e.keyCode == 13) { //ENTER
                    window.open($("li.active > a").data("url"), '_blank');
                }

            });

            $('a[data-toggle="pill"]').on('shown.bs.tab', function(e) {
                SetCookie("restaurant", $(this).attr("href").slice("#restaurant".length), 365);
            })
            $('a[data-toggle="pill"]').parent().on('click', function(e) {
                if ($(this).hasClass("active")) {
                    window.open($("li.active > a").data("url"), '_blank');
                }
            })

        });

        function selectRestaurant(id) {
            $('#navigationBar li a[href="\\#restaurant' + id + '"]').parent().addClass('active');
            $('#restaurant' + id).addClass('active');
            SetCookie("restaurant", id, 365);
        }

        function unSelectRestaurant(id) {
            $('#navigationBar li a[href="\\#restaurant' + id + '"]').parent().removeClass('active');
            $('#restaurant' + id).removeClass('active');
        }

        function findSelectedRestaurantId() {
            var activeRestaurant = $('#navigationBar .active').children().get(0);
            return $(activeRestaurant).attr('href').slice("#restaurant".length)
        }

        function SetCookie(cookieName, cookieValue, nDays) {
            var today = new Date();
            var expire = new Date();
            if (!nDays) { nDays = 1; }
            expire.setTime(today.getTime() + 3600000 * 24 * nDays);
            document.cookie = cookieName + "=" + escape(cookieValue)
                         + ";expires=" + expire.toGMTString() + ";path=/";
        }

        function GetCookie(cookieName) {
            var i, x, y, ARRcookies = document.cookie.split("; ");
            for (i = 0; i < ARRcookies.length; i++) {
                x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
                y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
                x = x.replace(/^\s+|\s+$/g, "");
                if (x == cookieName) {
                    return unescape(y);
                }
            }
        }
    </script>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="row">
            <div class="col-xs-1 visible-xs" style="width: 15px;"></div>
            <div class="col-xs-1 hidden-xs"></div>
            <div class="col-xs-5 col-md-3">
                <h1>Dnešné menu</h1>
            </div>
            <div class="col-xs-3 col-md-5" style="margin-top: 13px;">
                <h3>{{date}}</h3>
            </div>
            <div class="col-xs-1 visible-xs"></div>
            <div class="col-xs-3"></div>
            <div class="col-xs-3" style="margin-top: 12px;">
                <form style="margin-right: 15px;">
                    <input type="hidden" name="theme" value="index" />
                    <button type="submit" class="btn btn-lg">Prepnúť tému</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="margin-top: 89px;">
        <div class="row">
            <div class="col-xs-3">
                <ul id="navigationBar" class="nav nav-pills nav-stacked">
                    {{#each restaurants}}
            <li><a href="#restaurant{{this.id}}" data-toggle="pill" data-url="{{this.url}}">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </div>

            <div class="tab-content col-xs-9">
                {{#each restaurants}}
            <div class="tab-pane" id="restaurant{{this.id}}" style="max-width: 1200px;">
                <ul class="food">
                    {{#each this.menu}}
                        {{#if this.isError}}
                        <li class="bg-danger error text-danger">{{this.text}}</li>
                        {{else}}                       
                        <li{{#if this.isSoup}} class="soup"{{/if}}>
                            {{this.text}}
                            <div style="float: right; display: inline-block;">
                                {{this.price}}
                            </div>
                        </li>
                        {{/if}}
                    {{else}}
                    <li class="bg-danger error">
                        <p class="text-danger">Nepodarilo sa načítať menu, skús pozrieť priamo na stránke reštaurácie.</p>
                    </li>
                    {{/each}}
                </ul>
                <i>{{this.timeago}}</i>
            </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="container-fluid" id="padding" style="font-size: 15px;">
        <div class="row" style="min-height: 15px;"></div>
        <div class="alert alert-warning visible-md visible-lg row">
            <b>Tip:</b> na navigáciu medzi reštauráciami môžete použiť šípky <i>HORE</i>
            a <i>DOLE</i>, <i>ENTER</i> alebo druhé kliknutie na reštauráciu otvorí web vybranej reštaurácie.
        </div>
        <div class="row well" style="margin-bottom: 0px;">
            <span>.</span>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="font-size: 15px;">
        <div class="container-fluid">
            <div class="alert alert-warning visible-md visible-lg row">
                <b>Tip:</b> na navigáciu medzi reštauráciami môžete použiť šípky <i>HORE</i>
                a <i>DOLE</i>, <i>ENTER</i> alebo druhé kliknutie na reštauráciu otvorí web vybranej reštaurácie.
            </div>
            <div class="row well" style="margin-bottom: 0px;">
                <div class="col-xs-6">
                    <a href="http://en.wikipedia.org/wiki/Copyleft" target="_blank" title="copyleft"
                        style="display: inline-block; -webkit-transform: scaleX(-1); transform: scaleX(-1);">©</a>
                    ALL WRONGS RESERVED
                </div>
                <div class="col-xs-1 col-xs-offset-5">
                    <a style="float: right" href="https://github.com/jakub-sturc/at11" target="_blank"
                        class="github">GitHub</a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>
