<!DOCTYPE html>
<html lang="sk">
    <head>
        <meta charset="UTF-8">
        <title>@11</title>
        <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
        <meta name="description" content="Obedové menu pri ERNI SK">
        <link href="css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Dnešné menu <span>({{date}})</span></h1>
        </header>
        <div id="container" class="js-masonry">
            {{#each restaurants}}<section class="item">
                <h2><a href="{{this.url}}" target="_blank">{{this.name}}</a></h2>
                <ul>
                    {{#each this.menu}}<li>{{this}}</li>{{else}}<li>Smola, dnes žiaden obed :-(</li>{{/each}}
                </ul>
            </section>{{/each}}
        </div>
        <footer>
            <div>
                <span style="float: left">
					<a href="http://en.wikipedia.org/wiki/Copyleft" target="_blank" title="copyleft" style="display: inline-block; transform: scaleX(-1);">©</a>
					ALL WRONGS RESERVED
				</span>
				<a style="float: right" href="https://github.com/jakub-sturc/at11" target="_blank" class="github">GitHub</a>
                <div style="clear: both;"></div>
            </div>
        </footer>
        <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>
    </body>
</html>
