<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>@11</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico"/>
    <meta name="description" content="Obedové menu pri ERNI SK">


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.jpanelmenu.min.js"></script>

    <link href="css/style2.css" type="text/css" rel="stylesheet">

</head>

<body>


<script>
    $(function () {
        $('.menu-item').each(function () {
            $(this).on("click", function () {
                var restaurantClickedId = $(this).attr("id")
                var restaurantCurrentlyVisible = $("div[id^=tabs-]:visible").attr("id")

                if (restaurantClickedId === restaurantCurrentlyVisible) {
                    //restaurant is already selected - nothing to do anymore
                    return;
                }
                //hide previously selected restaurant
                $('#' + restaurantCurrentlyVisible).css('display', "none");

                //show new selected restaurant
                $('#tabs-' + restaurantClickedId).fadeIn();

                $('#selected_restaurant').val(restaurantClickedId);
            });
        });

        $(document).keyup(function (e) {
            e.preventDefault();

            //the main problem with this feature is, that order of the restaurant buttons is not the same as the order of restaurants in config.js
            //so it is hard to use "id" attribute defined in config.js to determine next/previous restaurant to be selected

            var selectedRestaurant = parseInt($('#selected_restaurant').val());
            var restaurantCount = $(".menu-item").length + 1;

            if (e.keyCode == 38) { //UP arrow
                selectedRestaurant = (selectedRestaurant - 1 + restaurantCount) % restaurantCount;
                if (selectedRestaurant == 0) selectedRestaurant = restaurantCount - 1;

            }
            if (e.keyCode == 40) { //DOWN arrow
                selectedRestaurant = (selectedRestaurant + 1) % restaurantCount;
                if (selectedRestaurant == 0) selectedRestaurant = 1;
            }

            //save value of currently selected restaurant
            $('#selected_restaurant').val(selectedRestaurant);

            //click on selected restaurant
            $('.menu-item[id='+selectedRestaurant+']').click();

        });


        //first restaurant is selected by default
        $('.menu-item').first().click();
    });


</script>


<div class="content" style="margin-top: 0px;">
    <div class="top_block header">
        <div class="content" style="padding-left: 20px;">
            <h1>Dnešné menu
                <wbr>
                <span>({{date}})</span></h1>
            <form style="float: right; margin-right: 20px;">
                <input type="hidden" name="theme" value="index"/>
                <button type="submit" class="themeSwitcher">Prepnúť tému</button>
            </form>
        </div>
    </div>

    <div class="left_block left_menu">
        <div class="content">
            <input type="hidden" id="selected_restaurant" value="1"/>
            <div>
                <ul id="menu">
                    {{#each restaurants}}
                    <li>
                        <button class="menu-item" style="width: 100%;" id="{{this.id}}">
                            {{this.name}}
                        </button>
                    </li>
                    {{/each}}
                </ul>
            </div>


        </div>
    </div>

    <div class="center_block restaurant">
        <div class="content">
            <div id="tabs">
                {{#each restaurants}}
                <div id="tabs-{{this.id}}" style="display: none;">
                    <h3>{{this.name}}</h3>

                    <div style="clear: both;">
                        <a href="{{this.url}}" target="_blank" class="homepage">Homepage</a>
                    </div>
                    <div style="clear: both; margin-top: 20px;">
                        {{#each this.menu}}
                        <li>{{{this}}}</li>
                        {{else}}
                        <li>Smola, dnes žiaden obed :-(</li>
                        {{/each}}
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</div>


<div class="footer">
    <div class="footer_contents">
        <pre style="margin-left: 20px;">Tip: na navigáciu medzi reštauráciami môžete použiť šípky <i>HORE</i> a <i>DOLE</i></pre>
                <span style="float: left">
					<a href="http://en.wikipedia.org/wiki/Copyleft" target="_blank" title="copyleft"
                       style="display: inline-block; -webkit-transform: scaleX(-1); transform: scaleX(-1);">©</a>
					ALL WRONGS RESERVED
				</span>
        <a style="float: right" href="https://github.com/jakub-sturc/at11" target="_blank" class="github">GitHub</a>

        <div style="clear: both;"></div>
    </div>
</div>
</body>
</html>
