<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>@11</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <meta name="description" content="Obedové menu pri ERNI SK">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="css/style3.css" type="text/css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/script3.js"></script>
</head>
<body>
    <header>{{> header}}</header>
    <div id="container" style="margin: 79px 40px 71px;">
        {{#each restaurants}}
        <section data-restaurant-id="{{this.id}}">
            <h2><a href="{{this.url}}" target="_blank">{{this.name}}</a></h2>
            <div class="fa fa-spinner fa-pulse"></div>
        </section>
        {{/each}}
    </div>
    <footer>{{> footer}}</footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
</body>
</html>
