<!DOCTYPE html>
<html lang="sk">
    <head>
        <meta charset="UTF-8">
        <title>@11</title>
        <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
        <meta name="description" content="Obedové menu pri ERNI SK">
        <link href="css/style.css" type="text/css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Dnešné menu <span>({{date}})</span></h1>
            <form>
                <input type="hidden" name="theme" value="index2"/>
                <button type="submit" class="themeSwitcher">Prepnúť tému</button>
            </form>
        </header>

        <div class="js-masonry">
            {{#each restaurants}}
            <section>
                <h2><a href="{{this.url}}" target="_blank">{{this.name}}</a></h2>
                <ul>
                    {{#each this.menu}}
                        {{#if this.isError}}
                        <li class="error">
                            <span>{{this.text}}</span>
                        </li>
                        {{else}}
                        <li{{#if this.isSoup}} class="soup"{{/if}}>
                            <span>{{this.text}}</span><span class="price">{{this.price}}</span>
                        </li>
                        {{/if}}
                    {{else}}
                    <li class="error">
                        <span>Nepodarilo sa načítať menu, skús pozrieť priamo na stránke reštaurácie</span>
                    </li>
                    {{/each}}
                </ul>
                <i>{{this.timeago}}</i>
            </section>{{/each}}
        </div>
        
        <footer>
            <span>
                <a href="http://en.wikipedia.org/wiki/Copyleft" target="_blank" title="copyleft" style="display: inline-block; -webkit-transform: scaleX(-1); transform: scaleX(-1);">©</a>
                ALL WRONGS RESERVED
            </span>
            <span>
				<a href="https://github.com/jakub-sturc/at11" target="_blank" class="github">GitHub</a>
            </span>
        </footer>
        <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>
    </body>
</html>
