.outer_face {
    position: relative;
    width: 237px; /* width of clock */
    height: 237px; /* height of clock */
    background-image: url("../img/clock_canvas.png");
    margin: 30px 0 0 0;
   }

.inner_face {
    position: absolute;
    width: 237px;
    height: 237px;
    margin: 0px;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    z-index: 1000;
    }

.hand, .hand.hour {
    position: absolute;
    width: 28.5px; /* width of hour hand */
    height: 125px; /* height of hour hand */
    left: 118.5px;
    margin-left: -14.25px; /* set this value to 1/2 width */
    margin-top: -6.5px;
    background-image: url("../img/at11_hand_hour.png");
    background-repeat: none;
    background-position: center;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    z-index: 2;
    }

.hand.minute {
    height: 165px; /* height of min hand */
    width: 43.7px; /* width of min hand */
    margin-left: -21.85px; /* set this value to 1/2 width */
    margin-top: -47px;
    background-image: url("../img/at11_hand_minute.png");
    background-repeat: none;
    background-position: center;
    z-index: 1;
    }

.hand.second {
    height: 80.5px; /* height of sec hand */
    width: 1px; /* width of sec hand */
    margin-left: -0.5px; /* set this value to 1/2 width */
    margin-top: 38px;
    background: #DEDCDE;
    z-index: -1;
    }