a.github {
    font-weight: bold;
    white-space: nowrap;
}

a:hover, a:focus, .btn-link:hover, .btn-link:focus {
    color: salmon;
    outline: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: seashell;
}

.btn-link:hover, .btn-link:focus {
    background-color: seashell;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: seashell;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: seashell;
}

a, h3, h1, .btn-link, .timeago {
    color: #ff9ec2;
}

section ul li.error {
    color: purple;
}

.navbar-default {
    background-color: seashell;
}

body {
    font-size: 16px;
}

header {
    font-size: 20px;
}

body > div {
    margin: 10px 40px;
}

section {
    display: inline-block;
    vertical-align: top;
    width: 30em;
    margin: 10px;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: seashell;
}

section ul {
    display: table;
    width: 29em;
    padding-left: 0.5em;
    padding-right: 1.5em;
}

section ul li {
    display: table-row;
}

section ul li > * {
    display: table-cell;
}

section ul li > *.price {
    white-space: nowrap;
    text-align: right;
    padding-left: 0.5em;
}

section ul li > *:first-child {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 0.875em;
    text-align: center;
    width: 2em;
}

section ul li.soup {
    font-weight: bold;
}

section ul li.error {
    color: #a94442;
}

section ul li.error > * {
    padding: 0.5em 0;
    background-color: #f2dede;
}

section ul li.error > *:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

section ul li.error > *:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

section > span.timeago {
    display: block;
    font-size: 0.7em;
    text-align: right;
    margin-right: 0.5em;
}

a.checkbox > input[type=checkbox] {
    margin: 10px 0 0 0;
}

a.checkbox > span:hover {
    text-decoration: none;
}
