html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    color: rgb(50,50,50);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a, a:active, a:visited {
    text-decoration: inherit;
    color: inherit;
}

header, footer, section {
    border-width: 1px;
    border-color: rgb(50,50,50);
    background-color: rgb(250,250,250);
}

header, footer {
    width: 100%;
    display: table;
}

    header > *, footer > * {
        display: table-cell;
        vertical-align: middle;
        padding: 0.5em 0;
    }

        header > *:first-child, footer > *:first-child {
            text-align: left;
            padding-left: 50px;
        }

        header > *:last-child, footer > *:last-child {
            text-align: right;
            padding-right: 50px;
        }

header {
    font-size: 3em;
    border-bottom-style: solid;
    font-weight: bold;
}

    header span#date {
        color: rgb(210,210,210);
    }

    header span#themes > ul {
        position: absolute;
        top: 80px;
        right: 50px;
        display: none;
        text-align: left;
        font-size: 16px;
        padding: 0;
        margin: 0;
        font-weight: normal;
        border: 1px solid  rgb(50,50,50);
        background-color: white;
    }
    header span#themes > ul li {
       list-style: none;
       padding: 4px 10px;
    }
    header span#themes:hover > ul {
        display: inline-block;
    }

footer {
    font-size: 0.8em;
    border-top-style: solid;
}

    footer a.github {
        font-weight: bold;
        white-space: nowrap;
    }

main {
    flex: 1;
    -ms-flex-preferred-size: auto;
}

div#container {
    margin: 10px 50px;
}

section {
    padding: 1em;
    border-style: solid;
}
section.item {
    display: none;
}
section.item.active {
    display: block;
}

    section h2 {
        font-size: 2em;
        margin: 0.5em 0;
    }

        section h2 a:hover:after {
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            content: " \f08e";
            color: rgb(210,210,210);
        }

    section ul {
        display: table;
        width: 100%;
        border-collapse: collapse;
    }

        section ul li {
            display: table-row;
        }

            section ul li > * {
                display: table-cell;
            }

                section ul li > *.price {
                    white-space: nowrap;
                    text-align: right;
                    padding-left: 0.5em;
                }

								section ul li:before {
										content: "\f0f5";
                    font-family: FontAwesome;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 0.875em;
                    text-align: center;
                    width: 2em;
										display: table-cell;
                }
								section ul li.soup:before {
									content: "\f1b1";
								}
								section ul li.error:before {
									content: "\f071";
								}

            section ul li.soup {
                font-weight: bold;
            }

    section > span.timeago {
        display: block;
        font-size: 0.7em;
        text-align: right;
        margin-right: 0.5em;
    }
