.soup {
    font-weight: bold;
    display: inline-block;
}

a.github {
    font-weight: bold;
    padding-left: 20px;
    background: url('../img/github.png') transparent left center no-repeat;
}

body {
    font-size: 25px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

ul.food {
    list-style: none;
}

li.error {
    list-style: none;
    border-radius: 4px;
}

    li.error p {
        padding: 10px 15px;
    }

ul.food li:not(.error):before {
    vertical-align: text-bottom;
    margin-left: -10px;
    margin-right: 10px;
    content: "\f0f5";
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 20px;
}
