html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    color: rgb(50,50,50);;
}

a, a:active, a:visited {
    text-decoration: inherit;
    color: inherit;
}

header, footer, section {
    border-width: 1px;
    border-color: rgb(50,50,50);
    background-color: rgb(250,250,250);
}

header, footer {
    width: 100%;
    display: table;
}

    header > *, footer > * {
        display: table-cell;
        vertical-align: middle;
        padding: 0.5em 0;
    }

        header > *:first-child, footer > *:first-child {
            text-align: left;
            padding-left: 50px;
        }

        header > *:last-child, footer > *:last-child {
            text-align: right;
            padding-right: 50px;
        }       

header {
    border-bottom-style: solid;
}

    header h1 {
        font-size: 3em;
    }

        header h1 > span {
            color: rgb(210,210,210);
            white-space: nowrap;
        }

footer {
    font-size: 0.8em;
    border-top-style: solid;
}

    footer a.github {
        font-weight: bold;
        white-space: nowrap;
    }

body > div {
    margin: 10px 40px;
}

section {
    display: inline-block;
    vertical-align: top;
    width: 30em;
    margin: 10px;
    padding: 1em;
    border-style: solid;
}

    section h2 {
        font-size: 2em;
        margin: 0.5em 0;
    }

        section h2 a:hover:after {
            font-family: FontAwesome;
            content: " \f08e";
            color: rgb(210,210,210);
        }

    section ul {
        display: table;
        width: 29.5em;
        padding-left: 0.5em;
        border-collapse: collapse;
    }

        section ul li {
            display: table-row;
        }

            section ul li > * {
                display: table-cell;
            }

                section ul li > *.price {
                    white-space: nowrap;
                    text-align: right;
                    padding-left: 0.5em;
                }

                section ul li > *:first-child {
                    font-family: FontAwesome;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 0.875em;
                    text-align: center;
                    width: 2em;
                }

            section ul li.soup {
                font-weight: bold;
            }

    section > i {
        display: block;
        font-size: 0.7em;
        text-align: right;
        margin-right: 0.5em;
    }

/* theme switching */
div#dLabel{
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0.5em 0;  
}
.dropdown-menu {
    position: absolute;
    left: 0;
    top: 2.5em;
    z-index: 1;
    display: none;
    min-width: 100%;
    list-style: none;
    background-color: white;
    border: 1px solid rgb(50,50,50);;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}
div#dLabel:hover > .dropdown-menu {
    display: block;
}
.btn {
    display: block;
    white-space: nowrap;
    padding: 0.5em;
}
.btn:hover {
    text-decoration: underline;
    background-color: rgb(250,250,250);
}