.soup{
    font-weight: bold;
    display: inline-block;
}

a.github  {
    font-weight: bold;
    padding-left: 20px;
    background: url('../img/github.png') transparent left center no-repeat;
}

body{
    font-size: 25px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}