html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, "Sans serif";
    background-color: white;
    color: rgb(50,50,50);
}
a, a:active, a:visited {
    text-decoration: inherit;
	color: inherit;
}
header {
    display: block;
    background-color: rgb(210,210,210);
    margin: 0 0 10px 0;
    padding: 0;
}
h1 {
    font-size: 4em;
}
h1 span {
    text-align: right;
    color: rgb(180,180,180);
    white-space: nowrap;
}
header > h1, footer > div {
    margin: 0 50px;
    padding: 0.5em 0;
}
body > div {
    margin: 0 40px;
}
section {
    display: inline-block;
    vertical-align: top;
    width: 30em;
    margin: 10px;
    padding: 1em;
    border: 1px solid gray;
    background-color: rgb(250,250,250);
}
section h2 {
    font-size: 2em;
    margin: 0.5em 0;
}
section h2 a:hover:after {
    content: " >";
    color: rgb(210,210,210);
}
footer {
    display: block;
    background-color: rgb(210,210,210);
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 0.8em;
}
footer a.github  {
    font-weight: bold;
    padding-left: 20px;
    background: url('../img/github.png') transparent left center no-repeat;
}

div .soup{
    font-weight: bold;
}

button.themeSwitcher {
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
    line-height: 1;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    width: 150px;
}

button.themeSwitcher:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

button.themeSwitcher:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}